<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p.v2iserver.account.dao.UserMapper">
	<!--添加设备-->
	<insert id="setUser" parameterType="com.p.v2iserver.account.entitys.pojo.UserDTO">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO user
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="username != null and username!=''" >
				username,
			</if>
			<if test="password != null and password !=''" >
				password,
			</if>
			<if test="createTime != null " >
				createTime,
			</if>
			<if test="updateTime != null " >
				updateTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="username != null and username!=''" >
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null and password!=''" >
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null " >
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null " >
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>

	</insert>

	<!--修改用户-->
	<update id="updateUser" parameterType="com.p.v2iserver.account.entitys.pojo.UserDTO">
		update user
		<set>
			<if test="username != null and username !=''" >
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null and password !=''" >
				password = #{password,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			<if test="id != null">
				id = #{id,jdbcType=INTEGER}
			</if>
		</where>
	</update>

	<delete id="batchDelUser" parameterType="Integer">
		DELETE FROM USER WHERE id IN
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="delUser" parameterType="com.p.v2iserver.account.entitys.pojo.UserDTO">
		DELETE FROM USER where id = #{id}
	</delete>
	<!--获取用户列表-->
	<select id="getUserList" parameterType="com.p.v2iserver.account.entitys.pojo.UserDTO" resultType="com.p.v2iserver.account.entitys.pojo.UserVO">
		SELECT IFNULL(t.id,"-1") as id,IFNULL(t.username,"-1") as username,IFNULL(t.`password`,"-1") as password,
		IFNULL(t.createTime,"-1") as createTime,IFNULL(t.updateTime,"-1") as updateTime
		FROM USER t
		<where>
			<if test="id!=null and id!=-1">
				AND t.id =#{id}
			</if>
			<if test="username != null and username !=''" >
				AND username like concat('%',#{username,jdbcType=VARCHAR},'%')
			</if>
			<if test="createTime != null " >
				and createTime = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null" >
				and updateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</where>
	</select>
</mapper>